.app {
    display: flex;
    height: 100vh;
}

#left-side {
  height: 100%;
}

#terminal {
  text-align: left;
  height: 90%;
  width: 60vw;
  background-color: #444;
  color: #FFF;
}

#run-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  background-color: #FF6347;
  width: 60vw;
}

#run-button {
  border: 5px solid #000;
  border-radius: 10px;
  font-family: 'Press Start 2P', cursive;
  height: 40px;
  width: 50%;
}

#run-button:hover{
  border: 7px solid #000;
  transition: all 1s;
}

#right-side {
  height: 100%;
  width: 40vw;

}

#repl {
  height: 50%;
  background-color: #000;
  color: #FFF;
}

#scoreboard {
  background-color: #aaa;
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  height: 50%;
  text-align: center;
}

.current-question{
  text-align: center;
}

.scoreboard-title {
  margin: 0;
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
  color: #673ab7;
}

.gameover-message{
  align-items: center;
  background: #423f3f;
  border: 5px solid #e8cc2e;
  border-radius: 5px;
  color: #e8cc2e;
  display: flex;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;
  font-size: 41px;
  left: 2%;
  padding: 30px;
  position: absolute;
  top: 10%;
}

.gameover-message button{
  background: #000;
  border: none;
  border-radius: 8px;
  color: #e8cc2e;
  font-family: 'Press Start 2P', cursive;
  height: 55px;
  font-size: 20px;
  margin-top: 20px;
}

.gameover-message button{
  border: 5px solid #e8cc2e;
  transition: all 1s;
}

.scores {
  display: flex;
  justify-content: space-around;
}

.line-wrapper {
  display: flex;
}

.line-num {
  margin: 0;

}

.line {
  margin: 0 0 0 30px;
  width: 100%;
}

@media (max-width:620px) {
  .scores{
    flex-direction: column;
  }
  .scoreboard-title{
    font-size: 12px;
  }
}
