.create-challenge-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1400px;
  margin: 260px auto 40px;
}

#title-page{
  align-items: center;
  background: #e8cc2e;
  border: #000 9px solid;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  font-size: 26px;
  justify-content: space-between;
  margin: 0px;
  padding: 18px;
  position: absolute;
  top: 10px;
}

#title-page button{
  background: #000;
  border: 2p;
  border: #423f3f 3px solid;
  border-radius: 6px;
  color: #e8cc2e;
  font-size: 17px;
  margin-top: 15px;
  padding: 7px;
  width: 71%;
}

#title-page button:hover{
  background: #e8cc2e;
  border: #000 3px solid;
  color: #000;
  transition: all 2s;

}

.title-page, .create-challenge-container h6,
.example-code-container button, #title-page button{
 font-family: 'Press Start 2P', cursive;
}

.create-challenge-container h6{
  font-size: 16px;
}

.code-description, .code-test, .code-example{
  border-radius: 3px;
  font-family: monospace;
  font-size: 21px;
  resize:vertical;
  padding: 10px;
}

.create-test-container, .example-code-container{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.create-challenge-container code{
  background: #e8cc2e;
  border: 5px solid #000;
  margin: 10px;
  padding: 10px;
  width: 85%;
}

.create-test-container{

}

.example-code-container{

}

.example-code-container code{
  /*max-height: 465px;
  height: 65%;*/
}


.create-challenge-container code{
  border-radius: 10px;
  width: 85%;
}

.code-test, .code-example, .code-description{
  width: 100%;
  max-width: 500px;
}

.code-example{
  height: 400px;
  max-height: 100%;
  padding: 10px;
}

.example-code-container button{
  background: #000;
  border: #e8cc2e 3px solid;
  border-radius: 4px;
  color: #e8cc2e;
  height: 45px;
  font-size: 16px;
  margin: 10px;
  width: 80%;
}

.example-code-container button:hover{
  background: #e8cc2e;
  border: #000 7px solid;
  color: #000;
  transition: all 2s;
}

.create-challenge-info{
  height: 60px;
  display: flex;
  font-size: 18px;
  position: absolute;
  top: 180px;
}
.create-challenge-info input{
  width: 210px;
  padding: 10px;
}
.create-challenge-info input, .create-challenge-info select{
  font-size: 18px;
}

.create-challenge-info select{
  width: 105px;
}

.error-msg-challenge{
  border: #000 3px solid;
  border-radius: 10px;
  background:#aaa;
  color:#e8cc2e;
  font-size: 18px;
  margin: 5px;
  padding: 10px;
}

.error-msg-container{
  background: #000;
  border: #423f3f 3px solid;
  border-radius: 10px;
  padding: 20px;

}

.complete {
  background: #F44336;
  border: #000 5px solid;
  border-radius: 16px;
  display: flex;
  margin: 0px;
  padding: 18px;
  position: fixed;
  top: 45%;
}

.complete-button {
  height: 30px;
  font-size: 20px;
  border: 1px solid #000;
  margin: 5px;
}

@media (max-width:720px){
  .create-challenge-container{
    align-items: center;
    flex-direction: column;
    /*margin-top: 120px;*/
  }
  .create-test-container, .example-code-container {
    width: 99%
  }
}
